
/*#####################*/
/*CSS a baixo são do Menu da LandPage*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
body{
  background-color: #fff;
}

.max-width{
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

.navbar .logo a{
  color: #1f80e0;
  font-size: 35px;
  font-weight: 500px
}

.navbar{
  position:fixed;
  width:100%;
  z-index:999;
  padding:20px 0;
  background-color: #DCDCDC;
  border-bottom: solid #1b202a 1px;
}

.navbar .max-width{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-flex;

}

.navbar .menu li a{
  display: block;
  color: #000000;
  font-size: 18px;
  font-width: 400px;
  margin-left: 25px;

}

.menu-btn{
  color:#000000;
  font-size: 23px;
  cursor:pointer;
  /*display:none;*/
}

section{
  padding:50px 0;
  
}
@media(max-width:690px){
  section{
    padding:20px 0;
  }
}

.top{
  color:#000000;
  display:flex;
  background:url("../public/banner_top.jpg");
  height:100vh;
  min-height:500px;
  background-size:cover;
  background-attachmet:fixed;
}

.top .max-width{
  width:100%;
  display:flex;

}

.top .top-content .text-1{
  font-size:25px;
}

.top .top-content .text-2{
  font-size:55px;
  font-weight:400px;
  margin-left: -3px;
}

.top .top-content .text-3{
  font-size:32px;
  margin:5px 0;
}

.top .top-content a{
    display:inline-block;
    background-color:#1E90FF;
    color:#fff;
    font-size:25px;
    padding:12px 36px;
    margin-top:20px;
    font-weight:300;
    border-radius:6px;
    border: 2px solid #fff;
    transition:all 0.3s ease;
}

.top .top-content a:hover{
  color:#fff;
  background:none;

}



